<nav>

    <h1><a href="{{ url_for('index') }}">Stock Portfolio</a></h1>

    <ul>

        <li><a href="{{ url_for('admin.dashboard') }}">Admin</a></li>

        {% if g.user %}

            <li><a href="{{ url_for('index') }}">My Portfolio</a></li>
            <li><a href="{{ url_for('auth.logout') }}">Logout</a></li>

        {% else %}

            <li><a href="{{ url_for('auth.register') }}">Register</a></li>
            <li><a href="{{ url_for('auth.login') }}">Login</a></li>

        {% endif %}

    </ul>

</nav>